<!-- Loading bar -->
<!--<fuse-loading-bar></fuse-loading-bar>-->

<!-- Navigation -->
<!--
<fuse-vertical-navigation
    class="print:hidden"
    [appearance]="'thin'"
    [mode]="'side'"
    [name]="'mainNavigation'"
    [navigation]="navigation.compact"
    [opened]="true">

    <ng-container fuseVerticalNavigationContentHeader>

    </ng-container>
</fuse-vertical-navigation>
-->

<!-- Wrapper -->
<div class="flex flex-col flex-auto w-full min-w-0"> <!--style="margin-left: -80px;"-->

    <!-- Header -->
    <div class="relative flex flex-0 items-center w-full h-16 px-4 md:px-6 z-49 dark:shadow-none dark:border-b bg-transparent print:hidden" style="display: none !important;">

        <!-- Navigation toggle button -->
        <!--<button
            class="mr-2"
            mat-icon-button
            (click)="toggleNavigation('mainNavigation')">
            <mat-icon [svgIcon]="'heroicons_outline:bars-3'"></mat-icon>
        </button>--> 

        <!-- Components -->
        <div class="flex items-center pl-2 ml-auto space-x-0.5 sm:space-x-2">
            <!--<languages></languages>-->
            <fuse-fullscreen class="hidden md:block"></fuse-fullscreen>
            <search [appearance]="'bar'"></search>
            <shortcuts></shortcuts>
            <messages></messages>
            <notifications></notifications>
            <!--<button
                class="lg:hidden"
                mat-icon-button
                (click)="quickChat.toggle()">
                <mat-icon [svgIcon]="'heroicons_outline:chat-bubble-left-right'"></mat-icon>
            </button>-->
            <user></user>
        </div>
    </div>

    <!-- Content -->
    <div class="flex flex-col flex-auto" style="margin-top: -10px;">
        <!-- *ngIf="true" hack is required here for router-outlet to work correctly.
             Otherwise, layout changes won't be registered and the view won't be updated! -->
        <router-outlet *ngIf="true"></router-outlet>
    </div>

</div>

<!-- Quick chat -->
<!--<quick-chat #quickChat="quickChat"></quick-chat>-->
